body{
    background-color: rgb(126, 58, 58);
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
main{
    background-color: rgb(173, 95, 95);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}