td{
    border-collapse: collapse;
}
table{
    max-width: max-content;
    text-align: center;
    float: center;
    justify-self: center;
}
body{
    background-color: rgb(87, 193, 193);
    text-align: center;
}
p{
    text-align: center;
    border: 2px solid blue;
    border-radius: 10px;
    width: fit-content;
    justify-self: center;
}
ol{
    width: fit-content;
    justify-self: center;
}