body{
    background-color: lightskyblue;
    text-align: center;
}

div{
    padding: 50px;
    background-color: rgb(150, 221, 197);
    text-align: center;
    color: black;
    border-radius: 10px;
    border: 2px solid rgb(18, 117, 49);
}

button,input,select{
    background-color: rgb(135, 211, 250) ;
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    border-color: blue;
    border-width: 3px;
}
button:hover,input:hover,select:hover{
    background-color: rgb(122, 172, 233);
}
option{
    background-color: rgb(98, 165, 168);
    border: 2px;
    border-color: blue;
}
    